<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="ScriptXLicenseHost" value="licenses.meadroid.com" />
    <add key="ScriptXLicenseGuid" value="{29F95807-5316-40B1-AF54-323D2519949B}" />
    <add key="ScriptXLicenseRevision" value="2" />
  </appSettings>
</configuration>