<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <add key="ScriptXLicenseGuid" value="{3ACAA560-506C-46FD-961C-CC447754002C}"/>
    <add key="ScriptXLicenseRevision" value="0"/>
  </appSettings>
  
</configuration>
